@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2>Live News Analysis</h2>

    <p><textarea id="Message" cols="45" placeholder="Type the news title you wish to verify"></textarea></p>

    <div class="real">
        <h4>Your news is...</h4>
        <p>❌ 👀 ✅</p>

        <div class="marker">
            <div id="markerPosition" style="left: 45%;">
                <div>▲</div>
                <label id="markerValue">Checking</label>
            </div>
        </div>
    </div>
</div>    